/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.background {
  background-image: url(./assets/gradienta-m_7p45JfXQo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.side-image {
  background: url(./assets/gradienta-m_7p45JfXQo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h2,
h4,
p,
label,
span,
button,
a {
  font-family: "Roboto", sans-serif;
}

.user {
  height: calc(100vh - 3.5rem);
}
.product-card {
  width: 17rem !important;
}
.product-container {
  min-height: 15rem;
}
.slide {
  display: none;
  transition: display 0.2s ease;

  /* transform: translateX(-100%); */
}
.active {
  display: block;
}
