@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.background {
  background-image: url(./assets/fakurian-design-E8Ufcyxz514-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.side-image {
  background: url(./assets/gradienta-m_7p45JfXQo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h2,
p,
label,
span,
button,
a {
  font-family: "Roboto", sans-serif;
}
